<style>
    table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
    }
    
    td {
        padding: 1rem;
        text-align: center;
        background: #1A1A1A;
        border-bottom: 1px solid #333;
    }
    
    td:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
    td:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
</style>
<table>
    <tr>
        <td>
            <a href="{{site.baseurl}}/travel/London/packing_portal">
                <img src="{{site.baseurl}}/images/favicon.ico" alt="Icon">
            </a>
        </td>
        <td >
            <a href="{{site.baseurl}}/travel/London/activity">Activity Planner</a>
        </td>
        <td >
            <a href="{{site.baseurl}}/travel/London/packing_portal_london">Packing Portal</a>
        </td>
        <td >
            <a href="{{site.baseurl}}/travel/London/budget">Budget Brilliance</a>
        </td>
        <td >
            <a href="{{site.baseurl}}/travel/london/wellness_waypoints">Wellness Waypoints</a>
        </td>
        <td>
            <a href="{{site.baseurl}}/travel/food_london">Cuisine Chronicles</a>
        </td>
    </tr>
</table>